.dropdown-menu-root{
    display:grid; 
    grid-template-columns:8em 30em; 
    column-gap: 1em;
    grid-template-areas:
        "button select-org"
        "button select-ref"
        "button ncbi-link"
        "button select-sgrna"
}
.select-sgrna{
    grid-area:select-sgrna; 
}
.select-org{
    grid-area:select-org;
}
.select-ref{
    grid-area:select-ref;
}

.link{
  padding-bottom: 0.5em;
  padding-top:0.5em;
  padding-left:0.5em; 
  color:#4d4d4d; 
  display:flex; 
  grid-area: ncbi-link;
}

.ncbi-link{
  display:flex;
  color:#4d4d4d; 
  align-items:center;
  text-decoration: none;
}

.ncbi-link:hover{
  color:rgba(239, 71, 111); 
}

.ncbi-link>span{
  text-decoration: underline;
}
.info-icon{
  font-size:20px !important; 
  padding-right:0.2em; 
  text-decoration: none;
}

.highlight-sgrna-button{
    grid-area:button; 
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px #e4e4e4 solid; 
    width: 100%;
    text-align: center;
    transition: background-color .3s;
  }
  
  .highlight-sgrna-button:hover{
    background-color: #e6e6e6; 
  }
  
  .inside-sgrna-button{
    display:grid;
    grid-template-columns: min-content auto;
  }
  
  .inside-sgrna-button > span {
    display:flex;
    align-items:center; 
  }

  .inside-sgrna-button > i {
    display:flex; 
    align-items:center; 
  }