.table {
  position: relative;
  float: left;
  width: 50%
}

.card {
  float: right;
  width: 50%
}

.gene_results {
  width: 50%;
  float: right; 
}

#button_display_card{
  width:25%;
  float:left;
}

#linear_card_div{
  width:75%;
  float:right;
}

#display_gene_card{
  color:white;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgba(239, 71, 111);
  border:2px solid rgba(239, 71, 111);
}

.gene_results {
  width: 50%;
  float: right;
  clear: right;
  margin-top: 3rem;
}
