.previous-next{
    font-size:3px; 
    cursor:pointer;
}

.previous-next:hover{
    text-decoration:underline;
}

.previous-next.inactive{
    fill:#A4A4A4;
    cursor:default;
    text-decoration: none;
}

svg{
    max-height:100vh; 
}