.genomic-card-root {
  font-family: "Helvetica Neue", Helvetica, Arial;
}

/*  Selector to choose reference and sgRNA */
.select-menu {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 15px;
}

.select-menu span {
  margin-left: 10px;
  font-weight: bold;
}

.custom-select {
  background-color: #f9f9f9 !important;
  border: 1px #e4e4e4 solid !important;
}


/*  The loader Spinner */
.spinner-grow {
  width: 40 !important;
  height: 40 !important;
}


.axisCircles {
  fill: none;
  stroke: #E8E8E8;
  stroke-width: 1px;
}


.coordBoxContainer {
  flex-grow: 2;
}

.coord-box {
  margin-bottom: 17px;
  margin-left:15px;
  margin-right:15px; 
  height: 110px;
  overflow: auto;
  white-space: pre-line;
  line-height: 1.3em;
  border-style: solid;
  border-width: thin;
  border-radius: 8px;
  border-color: #e4e4e4;
}

#coordBoxHeader {
  color: rgba(239, 71, 111);
  font-weight: bold;
  padding: 11px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #9e9e9e99;
  margin-bottom: .7rem;
}

#displayGenomicCard {
  width: 100%;
  min-height: 250px;
  /*max-height: 70vh;*/
}

.selection {
  flex-grow: 1;
  display:grid;
  grid-template-columns: 48.5% 48.5%;
  grid-column-gap: 3%;
}


.help:hover .help-text {
  display: block;
  position: absolute;
  background: #6da7c3b3;
  border-radius: 8px;
  padding: 8px;
}

.help {
  width: 24px;
}

.help-text {
  display: none;
}

.nav-tabs .nav-link.active {
  color: rgba(239, 71, 111) !important;
}

.nav-link {
  color: rgba(79, 93, 117) !important;
}

.nav.flex-nav {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  flex-flow: row;
  flex-grow: 1;
  align-items: stretch;
  justify-content: stretch;
}

.flex-nav-item {
  min-width: max-content;
  margin-bottom: 0 !important;
}

.nav-link:hover {
  background: rgba(187, 136, 137, 0.3) !important;
  color: rgba(239, 71, 111) !important;
}

.nav-tabs .nav-link.active:hover {
  background: none !important;
}

.svg {
  position: relative;
}

.selection-header{
  display:inline-block;
  margin-bottom: 0.5rem; 
  font-weight: bold;

}

.coord-box > ul{
  padding-left:1rem; 
  padding-top:0.5rem; 
}

.coord-box > ul > li{
  list-style-type: none;
}

li {
  list-style-type: none;
}

.highlight-sgrna-button{
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px #e4e4e4 solid; 
  width: 100%;
  text-align: center;
  /*padding: 10px;*/
  transition: background-color .3s;
  /*margin-top:10px;*/
  /*margin-right:10px;*/
  /*margin-bottom:10px;*/
}

.highlight-sgrna-button:hover{
  background-color: #e6e6e6; 
}

.inside-sgrna-button{
  display:grid;
  grid-template-columns: min-content auto;
}

.inside-sgrna-button > span {
  display:flex;
  align-items:center; 
}

@keyframes bluefade {
  from{
    background-color:rgba(83, 157, 220, 0.33) !important;
  }
  to{
    background-color: transparent;
  }
}

.highlight-select{
  background:#539ddc54 !important;
  /*animation: bluefade 1s;*/
}

.coord-box li:hover{
  color:#ff0000; 
}

.selection-col{
  border-style:solid;
  border-width:0.5px; 
  border-color:gray;
  border-radius:5px; 
}

.list-selection{
  padding-left:10px;
  padding-right:10px; 
  padding-top:10px; 
}

.selection-content.sgrna{
  display:grid;
  grid-template-columns: max-content auto;
  column-gap: 2%;
}

.selection-content.fasta{
  position:relative; 
}

.selection-content.organism{
  display:flex; 
}

.selection-div2{
  display:grid;
  grid-template-columns: 48% 48%; 
  column-gap: 4%;
}

.selection-div.organism{
  display:grid;
  grid-template-columns:55% 5% 40%; 
}

.sub-selection{
  margin-bottom:6px;
}

.sub-selection-content{
  display:grid; 
  grid-template-columns: 49% 49%;
  grid-gap:2%
}

.sub-selection>span{
  display:inline-block;
  padding-bottom: 5px;
}

.selection2{
  display:flex; 
  row-gap:10px;
  flex-direction:column;
  row-gap:5%; 
  margin-bottom:2em;
}

/*.fasta-tooltip{
  display:flex;
}

.fasta-tooltip-icon{
  display:flex !important;
  align-items:center; 
  font-size:22px !important; 
  cursor:default; 
}

.fasta-tooltip-text{
  opacity: 0;
  transition: opacity 0.3s; 
  margin-top:6px; 
  padding-right:1%;
  padding-left:1%; 
  align-items: center;
  text-align: left;
  font-size:12px; 
  border-radius: 5px;
  background-color:lightgrey; 
  grid-area: info-text;
}

.ref-selector{
  display:grid; 
  grid-template-areas: 'select info' 'info-text info-text';
  grid-template-columns: auto min-content;
  column-gap:1rem; 
}

.fasta-tooltip-icon:active + .fasta-tooltip-text{
  opacity:1
}*/

.ref-selector {
  display:grid; 
  grid-template-columns:60% min-content auto; 
  align-items:center; 
  text-align: left;
  column-gap:1em; 
}

.ref-tooltip-icon {
  display:flex; 
  align-items: center;
  font-size: 22px !important; 
  cursor:pointer; 
}

.left-arrow-icon{
  font-size:30px !important; 
  padding-top:1.2em; 
  justify-self:center; 
}

.ref-tooltip-info {
  display:flex; 
  align-items:center; 
  font-size: 12px; 
  background-color:lightgrey; 
  border-radius:5px; 
  margin-top:6px; 
}

.tooltip-text{
  visibility: hidden;
  font-size:10px; 
  font-style: italic;
}

.ref-tooltip-icon:hover + .tooltip-text{
  visibility: visible;
}

.genome-representation{
  display:grid; 
  grid-template-columns: 70% 30%;
}

.select-occurences{
  display:flex; 
  flex-direction:column; 
  padding-top:10em;
}

.label{
  color:red;
}

.legend{
  max-width:50em; 
}


.select-text{
  border-bottom: 1px dotted grey
}

.select-text.active{
  cursor:pointer;
}

.tooltip-text2 {
  position:absolute;
  z-index:1; 
  background-color: lightgrey;
  font-size:12px; 
  border-radius:6px; 
  text-align:center;
  margin-left:1em;
  visibility: hidden;

  /*opacity: 0;
  transition: opacity 0.3s;*/
}

.select-text:hover + .tooltip-text2{
  visibility: visible;
}

.select-text.current{
  background-color:lightgrey;
}
/*.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}*/

.selection-content.fasta{
  overflow:auto; 
  border-color:#e4e4e4;
  border-radius:5px; 
  border-style:solid;
  border-width:thin;
  padding:10px; 
  height:6em; 
}

.select-text.inactive{
  color:grey; 
  cursor:not-allowed;
}

.select-div{
  position:relative;
  z-index:0;
}

