.root {
  display: grid;
  padding: 1rem 2rem;
  box-sizing: border-box;
  grid-template-columns: min-content auto;
  grid-column-gap: 5rem;
  grid-row-gap : 1rem; 
  cursor:default; 
}

.genomic-card{
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.dropdown-menu{
  margin-bottom:2em; 
}

.genome-rep{
  display:grid; 
  grid-template-columns: 70% 30%;
}
